[tool.poetry]
name = "splight-lib"
version = "4.3.8"
description = "Splight Library"
authors = ["Splight Dev <dev@splight-ae.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
concurrent-log-handler = "0.9.21"
cryptography = "35.0.0"
furl = "2.1.3"
geojson-pydantic = "1.0.1"
hexbytes = "0.2.2"
httpx = "0.23.3"
jinja2 = "3.0.2"
mergedeep = "1.3.4"
pandas = "1.4.0"
parameterized = "0.8.1"
pathspec = "0.11.1"
protobuf = "4.21.6"
py7zr = "0.18.5"
pydantic = "2.4.2"
pysher = "1.0.8"
pytz = "2021.3"
pyyaml = "6.0.1"
requests = ">=2.26.0"
retry = "0.9.2"
simplejson = "3.17.6"
strenum = "0.4.9"
stringcase = "1.2.0"
typing-extensions = "^4.6.1"
pydantic-settings = "2.0.3"
email-validator = "^2.1.0.post1"

[tool.poetry.group.dev.dependencies]
black = "23.3.0"
isort = "5.12.0"
ipdb = "^0.13.13"
ipython = "8.12.2"
flake8 = "^6.1.0"
pre-commit = "3.2.2"
pytest = "^7.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

[tool.pytest.ini_options]
filterwarnings = [
    "error",
    "ignore::RuntimeWarning",
    "ignore::UserWarning",
    "ignore::pytest.PytestUnraisableExceptionWarning",
    "ignore::pytest.PytestUnhandledThreadExceptionWarning",
    "ignore::pytest.PytestAssertRewriteWarning",
]
