# Production requirements

email-validator==1.3.1
pysher==1.0.8
hexbytes==0.2.2
pydantic==1.10.2
pytz==2021.3
pandas==1.4.0
retry==0.9.2
mergedeep==1.3.4
parameterized==0.8.1
Jinja2==3.0.2 # TODO remove this
furl==2.1.3
simplejson==3.17.6
requests>=2.26.0
cryptography==35.0.0
PyYAML==6.0
StrEnum==0.4.9
httpx==0.23.3
concurrent-log-handler==0.9.21
geojson-pydantic==0.5.0
typing_extensions==4.5.0
py7zr==0.18.5
pathspec==0.11.1
