asgiref==3.4.1
boto3==1.20.14
botocore==1.23.20
confluent-kafka==1.7.0
Django==3.2.8
django-model-utils==4.2.0
django-storages==1.12.3
dnspython==2.1.0
Jinja2==3.0.2
jmespath==0.10.0
MarkupSafe==2.0.1
mock==4.0.3
numpy==1.21.4
pandas==1.4.0
parameterized==0.8.1
pusher==3.2.0
psycopg2==2.9.1
pymongo==3.12.1
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.7
pydantic==1.8.2