name: Code Quality
on: pull_request
jobs:
  black:
    runs-on: ubuntu-latest
    name: Black
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          options: "--check --diff"
          version: "23.1.0"
  isort:
    runs-on: ubuntu-latest
    name: Isort
    steps:
      # TODO: https://github.com/isort/isort-action/issues/95
      - uses: actions/checkout@v3
      - uses: isort/isort-action@master
        with:
          configuration: "--check-only --diff"
          isortVersion: "5.12.0"
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
        # Update output format to enable automatic inline annotations.
      - name: Run Ruff
        run: ruff check --output-format=github .
